page-login {

}
.text-right{
    text-align: right
}
.pl-0{
    padding-left:0 !important;
}
.pr-0{
    padding-right: 0 !important;
}
.pt-0{
    padding-top:0 !important;
}
.pb-0{
    padding-bottom:0 !important;
}

